    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
    background-image: url('../img/flyer3.jpg');
    background-size: cover;
    background-position: ce;nter;
    background-attachment: fixed;
    }

    .content-wrapper {
    min-height: 100vh;
    overflow-y: auto;
    } 

    /* Popup Open button */
    
    /*.open-button {
        background: transparent;
    }
    
    .open-button:hover {
        /*background: #01478e;
    }
    
    h2 {
        font-family: Arial Narrow, sans-serif;
        letter-spacing: 3px;
    }
    
    /*#bgvideo {
        background: url('../img/flyer3.jpg') ;
        position: fixed;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        width: 100%;
        transform: translateX(-50%) translateY(-50%);
        transition: 1s opacity;
        background-size: cover;
        z-index: -100;
    }*/
    
    #bgtext {
        color: black;
        width: 33%;
        background: rgba(0, 0, 0, 0.0);
        font-family: Arial Narrow, sans-serif;
        font-weight: 100;
        padding: 28px;
        margin: 28px;
        margin-left: 300px;
        font-size: 12px;
        text-align: justify;
    }
    
    #bgtext2 {
        color: black;
        background: rgba(0, 0, 0, 0.0);
        font-family: Arial Narrow, sans-serif;
        font-weight: 100;
        padding: 28px;
        margin: 28px;
        margin-left: 50px;
        font-size: 12px;
        float: right;
        text-align: justify;
    }
    
    /*#bgtext button {
        width: 80%;
        background: rgba(255, 255, 255, 0.23);
       /* color: #FFFFFF;
        margin: 14px auto;
        font-size: 12px;
        padding: 6px;
        display: block;
        position: fixed;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: .3s background;
    }
    
    #bgtext button:hover {
        background: rgba(0, 0, 0, 0.5);
    }
    
    a {
        background: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 0px;
        transition: .6s background;
        display: inline-block;
    }
    /*
    * Alternative Link-Color
    
    
    .a2 {
        color: #ffb100;
        text-decoration: none;
        padding: 7px;
        transition: .6s background;
        display: inline-block;
    }
    
    .a2:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    
    .a2:hover {
        color: #3be281;
    }
    
    h1 {
        margin-top: 0;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    h3 {
        margin-top: 0;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    /* Meta navigation */
    

    
    /* ul#metanavi {
        /* Center vertically and horizontally 
        position: absolute;
        top: 20%;
        left: 0%;
        margin: -25px 0 0 -25px;
        /* apply negative top and left margins to truly center the element 
    }
    /* 
    
    ul#metanavi {
        background: url(meta_bg.png) left bottom repeat-x;
        display: block;
        float: left;
        list-style-type: none;
        margin: 77px 0 0 155px;
        padding: 0;
        width: 795px;
    }
     */
    
    /* 
    ul#metanavi {
        /* background: url(meta_bg.png) left bottom repeat-x; 
        display: block;
}
    
    ul#metanavi li {
        display: block;
        float: right;
        margin: 0 15px;
    }
    
    ul#metanavi li.first {
        margin: 0 0 0 20px;
        /*background: #fff url(metanavi_bg.gif) left center;
    }
     ul#metanavi li.second {
       /* background: #fff;
        margin: 0 0 0 4px;
        /*color: #fff;
    }
    
    ul#metanavi li a {
        /* background: #fff url(metanavi_bg.gif) left center; 
        color: #000;
        font-family: Arial Narrow, sans-serif;
        float: left;
        letter-spacing: 1px;
        line-height: 100%;
        padding: 15px 2px 2px 40px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    ul#metanavi li a:focus,
    ul#metanavi li a:hover {
        background: #000 ;
        color: #000;
        cursor: pointer;
    }
    
    ul#metanavi li a.current {
        /*background: #fff;
        color: #000;
    }
    
    ul#metanavi li a.current:focus,
    ul#metanavi li a.current:hover {
        background: #fff url(navi_bg_on.gif) left center;
        color: #000;
        cursor: pointer;
    }
    /* Navigation . Level 1 
    
    ul#navi {
        display: block;
        list-style-type: none;
        margin: 0;
        padding-top: 18px;
        text-align: right;
        width: 135px;
        position: fixed;
    }
    
    ul#navi li {
        display: block;
        margin: 2px 0;
        padding: 0;
    }
    
    ul#navi li a {
        background: #fff;
        color: #000;
        letter-spacing: 1px;
        margin: 0;
        /*padding: 1px 5px 2px 6px;
        margin: 0 -8px;
        padding: 15px 5px 2px 40px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    ul#navi li a:focus,
    ul#navi li a:hover {
        background: #fff url(navi_bg_on.gif) left center;
        color: #000;
        cursor: pointer;
    }
    
    ul#navi li a.current {
        background: #fff url(navi_bg.gif) left center;
        color: #000;
    }
    
    ul#navi li a.current:focus,
    ul#navi li a.current:hover {
        background: url(navi_bg_on.gif) left center;
        color: #000;
    }
    /* Navigation . Level 2 */
    
    /*ul#navi_level_two {
        display: block;
        float: left;
        left: 155px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 97px;
        width: 596px;
    }
    
    ul#navi_level_two li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    ul#navi_level_two li.last {
        padding-right: 0;
    }
    
    ul#navi_level_two li a {
        color: #000;
        float: left;
        letter-spacing: 1px;
        padding: 1px 5px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    ul#navi_level_two li a:focus,
    ul#navi_level_two li a:hover {
        background: url(navi_bg_on.gif) left center;
        color: #000;
    }
    
    ul#navi_level_two li a.first {
        padding-left: 34px;
    }
    
    ul#navi_level_two li a.current {
        background: url(Videos/navi_bg.gif) left center;
        color: #000;
    }
    
    ul#navi_level_two li a.current:focus,
    ul#navi_level_two li a.current:hover {
        background: url(Videos/navi_bg_on.gif) left center;
        color: #000;
    }
    /* Navigation . Level 3 */
    
    /*ul#navi_level_three {
        position: fixed;
        top: 250px;
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 22px 0 0 0;
        text-align: right;
        width: 135px;
    }
    
    ul#navi_level_three li {
        display: block;
        margin: 2px 0;
        padding: 0;
    }
    
    ul#navi_level_three li a {
        background: #fff;
        color: #000;
        letter-spacing: 1px;
        margin: 0;
        padding: 1px 5px 2px 6px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    ul#navi_level_three li a:focus,
    ul#navi_level_three li a:hover {
        background: url(navi_bg_on.gif) left center;
        color: #000;
    }
    
    ul#navi_level_three li a.current {
        background: #fff url(Videos/navi_bg.gif) left center;
        color: #000;
    }
    
    ul#navi_level_three li a.current:focus,
    ul#navi_level_three li a.current:hover {
        background: url(navi_bg_on.gif) left center;
        color: #000;
    }
    /* Navigation . Level 4 */
    
    /*ul#navi_level_four {
        	background: lime;
        display: block;
        float: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 524px;
    }
    
    ul#navi_level_four li {
        	background: yellow;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    ul#navi_level_four li.last {
        padding-right: 0;
    }
    
    ul#navi_level_four li a {
        color: #000;
        float: left;
        letter-spacing: 1px;
        margin: -18px 0 11px 0;
        padding: 1px 3px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    ul#navi_level_four li a:focus,
    ul#navi_level_four li a:hover {
        background: url(navi_bg_on.gif) left center;
        color: #000;
    }
    
    ul#navi_level_four li a.current {
        background: url(navi_bg.gif) left center;
        color: #000;
        font-weight: bold;
    }
    
    ul#navi_level_four li a.current:focus,
    ul#navi_level_four li a.current:hover {
        background: url(navi_bg_on.gif) left center;
        color: #000;
    }
    */

    .clickable {
        opacity: 1;
        cursor: pointer;
    }
    
    .text-center {
        opacity: 0, 8;
        text-align: center !important;
    }
    
    .clickable:hover .text-center {
        opacity: 1;
        color: #e6e61d;
    }
    
    .hover:hover {
        opacity: 1;
        color: #e6e61d;
        cursor: pointer;
    }
    
    .calendar {
        opacity: 1;
    }
    
    .box {
        top: 50px;
        /* width: 70%; */
        width: auto;
        height: 70%;
        padding-bottom: 0px;
        background: #5cb85c;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: .9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        text-align: left;
        line-break: auto;
    }
    
    .calendar:target .box {
        opacity: 1;
    }
    
    p {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: 0.5px;
        font-weight: 100;
        color: #484848;
    }
    /**
    * Modal */
    
    .nav a {
        margin-top: 0;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    ul {
        display: block;
        text-align: right;
        float: right;
        width: auto;
    }
    /*        
    
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    } 
    
    */
    /*
    * Button reset
    */
    
    /*button {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: #0069ed;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    
    button:hover,
    button:focus {
        background: #0053ba;
    }
    
    button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    
    button:active {
        transform: scale(0.99);
    }
    
    .modal {
        /*transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        display: none;
        /* overflow: hidden; 
    }
    
    .modal.active {
        display: block;
        /*transform: translate(-50%, -50%) scale(1);
    }
    
   
    
    .modal-header .title {
        font-size: 1.25rem;
        font-weight: bold;
        display: none;
    }
    
    .modal-header .btn-close {
        cursor: pointer;
        border: none;
        border-color: transparent;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.8);
        font-size: 20px;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
    
    .modal .close-button {
        font-family: 'Times New Roman', Times, serif;
        width: 39px;
        height: 39px;
        padding: 7px;
    }
    
   
    

    #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
    
    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }
    
    .img-fluid {
        max-width: 200px;
        height: 70px;
        max-height: fit-content;
        max-height: -webkit-fill-available;
        padding: 0 0 3%;
    }
    .img-logo
    {
        max-width: 200px;
        height: 70px;
        max-height: fit-content;
        max-height: -webkit-fill-available;
        padding: 0 0 3%;
        float: right;
    }

/*
    .float-left {
        float: left;
        margin: 0 10px;
    }
    
    .float-right {
        float: right;
        margin: 0 10px;
    }
    /*
    * Calendar Tabel color
    */
    
    table,
    th,
    td {
        border: 1px solid black;
        border-color: #c72c2c;
        border-collapse: collapse;
    }

    /*
    * Bootstrap Modal
    
    
    .modal-open {
        overflow: hidden;
    }
    
   
    
    .modal.fade .modal-dialog {
        /*         -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out; 
    }
    
    .modal.in .modal-dialog {
        /*        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); 
        opacity: 1;
        animation: fadeIn ease 0.3s;
        -webkit-animation: fadeIn ease 0.3s;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }
    
    .modal-content {
        position: relative;
        background-color: #ffffff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        outline: 0;
    }
    
    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000000;
    }
    
    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    
    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .modal-header .close {
        margin-top: -2px;
    }
    
    .modal-title {
        margin: 0;
        line-height: 1.42857143;
    }
    
    .modal-body {
        position: relative;
        padding: 15px;
    }
    
   
    
    .modal-footer .btn+.btn {
        margin-bottom: 0;
        margin-left: 5px;
    }
    
    .modal-footer .btn-group .btn+.btn {
        margin-left: -1px;
    }
    
    .modal-footer .btn-block+.btn-block {
        margin-left: 0;
    }
    
    .modal-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll;
    }
    
    @media (min-width: 768px) {
        .modal-dialog {
            width: 600px;
            margin: 30px auto;
        }
        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }
        .modal-sm {
            width: 300px;
        }
    }
    
    @media (min-width: 992px) {
        .modal-lg {
            width: 900px;
        }
    }
    
    .clearfix:before,
    .clearfix:after,
    .modal-header:before,
    .modal-header:after,
    .modal-footer:before,
    .modal-footer:after {
        display: table;
        content: " ";
    }
    
    .clearfix:after,
    .modal-header:after,
    .modal-footer:after {
        clear: both;
    }
    
    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .pull-right {
        float: right !important;
    }
    
    .pull-left {
        float: left !important;
    }
    
    .hide {
        display: none !important;
    }
    
    .show {
        display: block !important;
    }
    
    .invisible {
        visibility: hidden;
    }
    
    .text-hide {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }
    
    .hidden {
        display: none !important;
    }
    
    .affix {
        position: fixed;
    }
    /*
    * custom modal
    */
    
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border-bottom: 1px solid #ddd;
    }
    
  
    
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }
    
    .green {
        background: #60ba38;
        padding: 40px;
    }
    
    .green-calender {
        background: #5cb85c;
    }
    
   
  /*  
    .modal-dialog.modal-xs {
        width: 40%;
    }
    
    .modal-dialog.modal-md {
        width: 70%;
        padding: 0px;
    }
    
    .red {
        background: #e55a39;
        padding: 40px;
    }
    
    .popup-content4 {
        width: 40%;
        margin: 0 auto;
        box-sizing: border-box;
        margin-top: 100px;
        background: #60ba38;
        position: relative;
        padding: 40px;
    }
    /* Popup close button */
    
    .close-button {
        width: 25px;
        height: 25px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.8);
        font-size: 20px;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
    
    .close-button:hover {
        background: rgba(0, 0, 0, 1);
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 70%;
            margin: 30px auto;
        }
    }
    
    @media screen and# (max-width: 720px) {
        .modal-dialog,
        .modal-dialog.modal-xs {
            width: 95%;
        }
    }

    @media (min-width: 1080px) {
        .table-responsive {
            border-bottom: 1px solid #ddd;
        }
    }


    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url('../img/flyer3.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow-y: scroll;
    }
    
    .content-wrapper {
        min-height: 100vh;
    }
    
    /* Popup Open button 
    .open-button {
        background: transparent;
    }
    
    /*
    ul#navi {
        display: block;
        list-style-type: none;
        margin: 0;
        padding-top: 18px;
        text-align: right;
        width: 135px;
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
    
    ul#navi li a {
        background: transparent;
        color: #000;
        letter-spacing: 1px;
        margin: 0;
        padding: 15px 5px 2px 40px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    ul#navi li a:focus,
    ul#navi li a:hover {
        background: transparent;
        color: #000;
        cursor: pointer;
    }
    */

    .img-fluid {
        height: auto;
        max-height: none;
        padding: 0 0 3%;
    }

    /*@media screen and (max-width: 768px) {
        .img-fluid {
            max-width: 25%;
            margin: 0 auto;
            display: block;
        }
    }*/
    
    /* Logos at the bottom */
    .bottom-logos {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .bottom-logos img {
        max-width: 100px;
        height: auto;
        margin-left: 10px;
    }
    
/* alice added code for fixed header */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-fixed {
    position: fixed;
    top: 20px;
    right: 20px;
}

.content {
    display: flex;
    flex-grow: 1;
}

.nav-buttons {
    max-width: 28%;
    padding: 20px;
} 

/*@media screen and (min-width: 768px) {
    .nav-buttons {
        max-width: 40%;
        padding: 20px;
        justify-content: flex-start;
    }
}*/

#nav-container {
    width: 150px;
    position: absolute;
    right: 32%;
    height: 75px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.title-container {
    position: fixed;
    top: 20px;
    left: 80;
    right: 20%;
    text-align: center;
    z-index: 1000;
    width: 50%;
    font-size: 24px; /* Default font size for larger screens */
}

@media screen and (max-width: 480px) {
    .title-container {
        font-size: 18px; /* Smaller font size for mobile screens */
        width: 80%; /* Adjust width for better mobile layout */
        left: 10%; /* Center the container on mobile */
        right: 10%;
    }
}

.title-image {
    width: 200px;
    height: auto;
    display: inline-block;
}

.bottom-text {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align:left;
    font-size: 12px;
    color: #0ceff7;
    z-index: 1000;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* modal styling */
.modal {
   color: rgb(139, 142, 143);
}

.modal-body {
    background-color:  rgb(184, 240, 243);
}

.modal-header {
    background-color: rgb(184, 240, 243);
}

.modal-footer {
    background-color:  rgb(184, 240, 243);
}
   

h2 {
    font-size: 25px;
}